:root {
    --h1Size: 11vw;
    --h2Size: 2.5rem;
    --h3Size: 0.8rem;
    --h4Size: 2rem;
    --pSize: 1rem;
}


.contact-section-title h2 {
    font-size: 2.4rem;
}

.hero-container {
    width: 100% !important;
    margin: auto;
}

.hero-section-footer-socials img {
    scale: 0.65;
}

#ui-design-mobile {
    gap: 24vw;
}

.hero-section {
    height: 95vh;
}





.hero-section-content .row {
    gap: 8px;
}

.gif-text {
    display: flex !important;
}

.break {
    white-space: none;
    overflow-wrap: none;
} 





.contact-section {
    margin-top: 0;
}