/* 1100--------------- Section 2 Design and Coding Exploration */
@media screen and (max-width:1100px) {


    :root {
        --h1Size: 4rem;
        --h2Size: 3rem;
        --h3Size: 1rem;
        --h4Size: 2.5rem;
        --pSize: 1.1rem;
    }

    .btn-primary {
        width: 50%;
    }

    .btn-primary:hover {
        width: 60%;
    }


    .btn-primary-2 {
        width: 50%;
    }

    
    .btn-primary-2:hover {
        width: 60%;
    }


    .container {
        margin-bottom: 15vw;
    }

    #section-hero {
        margin-bottom: 0 !important;
    }


    /* 1100--------------- Section 1 Hero */

    #section-hero {
        flex-grow: 1 !important;
    }  

    .main-hero-container {
        height: 100vh !important;
    }





    #section-hero-info h1 {
        margin-top: 24px;
        text-align: center;
    }

    #section-hero-media {
        margin: 0 !important;
        padding: 0 !important;
    }

    .hero-section-footer-socials img {
        scale: 0.8;
    }

    #section-hero-media {
        object-fit: contain;
    }

    #image-vertical {
        max-width: 40vw !important;
    }

    #section-hero-info {
        padding-left: 0 !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .hero-section-footer-socials img:hover {
        scale: 1;
    }


 

    .ui-designs-container {
        height: 50vh;
    }


    .main-content-info {
        align-items: center !important;
        justify-content: center !important;
        padding: 0;
    }



    /* 1100--------------- Section 2 title */

    .exploration-section {
        margin-bottom: -4vh;
     }

    /* 1100--------------- Section 2 Design and Coding Exploration */

    .container {
        height: fit-content;
    }

    .main-content {
        display: grid;
        grid-template-rows: 70% 30%;
        grid-template-columns: 100%;
        height: 100%;
        gap: 32px;
    }
    
    .main-content-info-part2 {
        grid-row: 2 / 3; 
        grid-column: 1 / 2;
        width: 100%;
        padding: 0 1.5em;
        margin-top: -16px;
    }

    .main-content-media {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        object-fit: contain;
        width: 100%;
        
    }
    
    .main-content-media img {
        max-width: 52%;
        min-width: 420px;
        height: auto;
    }

    #section-portfolio:hover #portfolio-img{
        transform: scale(1.08);
    }
    
    #section-gelato:hover #gelato-img {
        transform: scale(1.08);
    }
    
    #section-flystein:hover #flystein-img{
        transform: scale(1.08);
    }



    /* 1100--------------- Section 3 UI Designs */


    .ui-designs-container{
        margin-top: 56x;
        margin-bottom: 56px;
    }

    .ui-designs-content {
      max-width: 30%;
      max-height: 100%;
    }

    .ui-designs-content p {
        width: 100%;
    }

    .ui-designs-content h4 {
        text-wrap: wrap;
    }

    .ui-designs-item img {
        min-width: 280px;
    }

    .contact-section {
    flex-direction: column;
    gap: 24px;
    }

    .contact-section-title h2 br {
        display: none; 
    }
    



}
