@media screen and (max-width:800px) {


    :root {
        --h1Size: 3rem;
        --h2Size: 2.5rem;
        --h3Size: 0.8rem;
        --h4Size: 2rem;
        --pSize: 1rem;
    }

    .main-hero-container {
        width: 90% !important;
    }

    body {
        margin-bottom: 16vw;
    }

    .hero-section-header-nav .row {
        background-color: #822567;
        position: fixed;
        top: 0;
        bottom: 0;
        right: -100%;
        height: 100vh;
        z-index: 10;
        width: 45vw;
        flex-direction: column;
        justify-content: flex-start;
        gap: 0;
        padding-top: 14vh;
        border-top-left-radius: 40px;
        opacity: 95%;
        transition: all 0.5s ease-in-out;
    }

    .hero-section-header-nav .row a {
        width: 85%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 48px;
    }

    #hero-section-header {
        width: 90% !important;
        margin: auto;
    }



    .hero-section-header-nav input[type="checkbox"]:checked ~ .row {
        right: 0;
    }

    .hero-section:hover #hang1,
    .hero-section:hover #hang2 {
        top: -35vw;
        transform: none; 
    }

    #exploration-section-title {
        background-image: none !important;
    }
    
    #ui-design-title {
        background-image: none !important;
    }






    .toogle-bar {
        display: block;
        z-index: 15;
        position: relative;
    }


    .toogle-bar i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .toogle-bar i.fa-xmark {
        transform: translate(-50%, -50%) scale(0);
    }

    .hero-section-header-nav input[type="checkbox"]:checked ~ .toogle-bar i.fa-bars {
        transform: translate(-50%, -50%) scale(0);
    }

    .hero-section-header-nav input[type="checkbox"]:checked ~ .toogle-bar i.fa-xmark {
        transform: translate(-50%, -50%) scale(1);
        transition: all 0.3s ease-in-out;
    }



    #image-vertical {
        max-height: 60vh !important;
        width: auto;
    }


    #section-hero {
        display: flex !important;
        justify-content: center;
    }




    /* 800--------------- Section title */
    
    .exploration-section {
        height: 24vh;
        background-image: none;
    }

    /* 800--------------- Main Sections */


    .container {
        display: none;
    }

    #exploration-mobile {
        display: flex;
    }
    
    
    .ui-designs-container {
        display: none;
    }

    #ui-design-mobile {
        display: flex;
    }

    #gelato-img, #portfolio-img, #flystein-img {
        box-shadow: none;
    }


    .container-mobile {
        display: flex;
        width: 95%;
        max-width: 1400px;
        height: auto;
        padding-top: 8vw;     
        padding-bottom: 16vw;
        margin: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16vw;
    }
    
    .main-content-mobile {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        align-items: center;
        justify-content: center;
        height: fit-content;
        gap: 8vw;
    }
    
    
    .main-content-mobile-info {
        display: flex;
        gap: 1rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0;
        padding-bottom: 0;
    }
    
    .main-content-mobile-info p {
        text-align: justify !important;
        width: 80%;
    }
    
    
    .main-content-mobile-media {
        width: 70%;
        flex-basis: 0%;
        height: 100%;
        object-fit: contain;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: visible;
    }
    
    .main-content-mobile-media img {
        text-align: center;
        max-width: 95%;
        border-radius: 16px;
        max-height: 100%;
        box-shadow: 6px 8px 16px rgba(0, 0, 0, 0.2);
    }
    
    .btns {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    
    .btn-primary-mobile {
        width: fit-content;
        display: inline-block;
        height: fit-content;
        width: 80%;
        text-align: center;
        background-color: #822567;
        padding: 8px 8px;
        border-radius: 16px;
        color: white;
        font-family: var(--pFont);
        font-weight: bold;
        font-weight: 600;
        font-size: 1rem;
        margin-top: 16px;
        text-decoration: none;
    }
    

    .btn-primary-2-mobile {
        width: fit-content;
        display: inline-block;
        height: fit-content;
        width: 80%;
        text-align: center;
        background-color: transparent;
        border: 1px solid #595992;
        padding: 8px 8px;
        border-radius: 16px;
        color: #822567;
        font-family: var(--pFont);
        font-weight: bold;
        font-weight: 600;
        font-size: 1rem;
        margin-top: 16px;
        text-decoration: none;
    }


    #ui-title-p {
        display: none;
    }

    #ui-design-title {
        margin: auto;
        width: 80%;
    }



}