:root {
    --h1Size: 11vw;
    --h2Size: 2.5rem;
    --h3Size: 1rem;
    --h4Size: 2rem;
    --pSize: 1rem;
}

.contact-section-title h2 {
    font-size: 2.4rem;
}

.hero-section-footer-socials img {
    scale: 0.65;
}

#ui-design-mobile {
    gap: 24vw;
}

.contact-section {
    margin-top: 0;
}

#section-hero-media {
    height: auto !important;
}

.main-hero-container {
    height: 95vh;
    height: 95svh;
}

#section-hero-main {
    align-items: stretch;
    gap: 0 !important;
    padding-bottom: 32px !important;
}

/* test */


.exploration-section {
    height: 20vh !important;
}

